{% extends "oscar/partials/nav_primary.html" %}
{% load i18n %}

{% block nav_items %}
{{ block.super }}
<li class="nav-item dropdown">
  <a class="nav-link" href="{% url 'boutique:index' %}" role="button">
    {% trans "Boutiques" %}
  </a>
</li>
{% endblock %}